<div class="form-container">
  <h1>Nuevo Ternero</h1>
  <form id="addCalfForm">
    <div>
      <p>Caravana del ternero:</p>
      <input type="text" id="name" name="name" placeholder="Ej: A011" />
    </div>
    <div>
      <p>Madre del ternero:</p>
      <input type="text" id="name" name="mother" placeholder="Opcional, no es necesario cargarlo" />
    </div>

    <div>
      <p>Fecha de nacimiento:</p>
      <input type="date" id="birthDate" name="birthDate" required />
    </div>
    <div>
      <p>Tipo de parto</p>
      <select name="birthType" id="" required>
        <option value="" disabled selected>Tipo de parto</option>
        <option value="1-Normal">1-Normal</option>
        <option value="2-Asistido">2-Asistido</option>
        <option value="3-Cesárea">3-Cesárea</option>
      </select>
    </div>
    <div>
      <p>Eliga el sexo</p>
      <select name="gender" id="" required>
        <option value="" disabled selected>Género</option>
        <option value="Macho">Macho</option>
        <option value="Hembra">Hembra</option>
      </select>
    </div>
    <div>
      <p>Peso del ternero:</p>
      <input
        type="text"
        id="calfWeight"
        name="calfWeight"
        placeholder="No es necesario llenar este apartado, puede hacerlo luego"
      />
    </div>
    <div>
      <p>Calostro:</p>
      <input
        type="text"
        id="calfCalostro"
        name="calfCalostro"
        placeholder="No es necesario llenar este apartado, puede hacerlo luego"
      />
    </div>

    <input class="form-button" type="submit" value="Guardar ternero" />
  </form>

</div>