<div class="form-container">
  <h1>Nuevo tratamiento</h1>
  <form action="/treatment/add" method="post">
    <label for="title">Nombre del tratamiento:</label>
    <input type="text" id="title" name="title" required />

     <label for="duration">Eliga la Duración (días):</label>
    <select id="durationSelect" name="duration" required>
      <option value="" disabled selected>Seleccione...</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>

    
    <div id="day-inputs-container">
    </div>

  
    <input class="form-button" type="submit" value="Guardar tratamiento" />
  </form>
</div>