{{>global/headerlogged}}

<nav>
    <a href="/home" class="link-button">Volver al inicio</a>
    <a href="/enfermeria" class="link-button">Ir a enfermería</a>
    <a href="/terneros-guachera" class="link-button">Ver todos los terneros</a>
    <a href="/terneros-recria" class="link-button">Ver terneros largados</a>
    <a href="/terneros-muertos" class="link-button">Ver los terneros muertos</a>
</nav>

<div class="add-page-buttons">
    <button id="newCalfButton" class="add-page-button">Agregar ternero</button>
</div>

<div class="add-page-buttons">
    <button id="newTaskButton" class="add-page-button">Agregar tarea</button>
    <button id="newUpdateTaskButton" class="add-page-button">Modificar tarea</button>
    <button id="newDeleteTaskButton" class="add-page-button">Eliminar tarea</button>
</div>



<div class="hidden" id="newCalfForm">
    {{>calves/calf-form}}
</div>

<div class="hidden" id="newTaskForm">
    {{>calves/task-form}}
</div>
<div class="hidden" id="newUpdateTaskForm">
    {{>calves/task-update}}
</div>
<div class="hidden" id="newDeleteTaskForm">
    {{>calves/task-delete}}
</div>

<script src="/js/calves/toggleButtons.js"></script>
<script src="/js/calves/tasksForms.js"></script>
