{{>headerlogged}}

<h1>Bienvenido al Establecimiento: {{this.user.farmname}}</h1>
<nav class="">
    <a href="/agregar" class="link-button">Agregar Ternero a tratamiento</a>
    <a href="/terneros-por-terminar-tratamiento" class="link-button">Ver terneros a finalizar tratamiento</a>
    <a href="/terneros-en-tratamiento" class="link-button">Ver Terneros en tratamiento</a>
    <a href="/terneros" class="link-button">Ver todos los terneros tratados</a>
</nav>


<script src="js/home.js"></script>
