
{{>header}}

<div class="login-container">
  <form action="/login" method="POST">
    <div>
    <span class="input-error">{{errors.email}}</span>
      <input class="input" type="text" placeholder="Usuario" name="username" required/>
    </div>

    <div>
      <span class="input-error">{{errors.password}}</span>
      <input class="input" autocomplete="off" id="passInput" type="password" placeholder="Contrasena" name="password" required/>
      <div>
      <input type="checkbox" id="showPass">Mostrar contraseña
      </div>
    </div>

    <div>
      <button type="submit">Ingresar</button>    
    </div>
  </form>
</div>

<script src="/js/login.js"></script>

