<div class="form-container">
  <h1>Nuevo Corral</h1>
  <form action="/corral/add" method="post">
    <label for="title">Nombre del Corral:</label>
    <input type="text" id="corral" name="corral" required />
    <input class="form-button" type="submit" value="Guardar Corral" />
  </form>
</div>